<mat-card>
  <mat-card-content>
    <form [formGroup]="profileForm">
      <h2>Profile</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="First Name" formControlName="firstname" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Last Name" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Company" formControlName="company" required>
      </mat-form-field>
      <div style="text-align: center;">
        <button mat-stroked-button color="accent" (click)="appService.navigate('/home')">Close</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
